.customers {
  @extend %section;
  max-width: 480px;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-image: url(../images/customers/bcgcustomers.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/customers/bcgcustomers2x.png);
  }
  @include tablet {
    padding: 60px 0 120px;
  }
  @include desktop {
    padding: 100px 0 255px;
    height: 652px;
  }
}
.customers__container {
  @extend %container;
}
.customers__title {
  margin-bottom: 20px;
}

.customers__text {
  max-width: 480px;
  margin-bottom: 32px;
}

.stars__list {
  @extend %list;
  display: flex;
}

.reviews-list__item {
  padding: 8px;
  background-color: #ffff;
  // max-width: 280px;
  border-radius: 0px 30px 30px 30px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.stars {
  margin-bottom: 36px;
}
.reviews-list {
  @extend %list;
}

.reviews-list__text {
  width: 264px;
  height: 95px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #2c2c2c;
  margin-bottom: 32px;
}

.personaldate {
  display: block;
  padding-right: 18px;
  margin-left: 16px;
  border-right: 0.854167px solid #7eb101;
}
.infoclient {
  display: flex;
  align-content: center;
}
.personaldate__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
.personaldate__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}
