.footer {
  position: relative;

  @extend %section;
  padding: 60px 0;
  // width: 100vw;
  // height: 100%;
  background-color: $secondaryWhiteColor;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-image: url(../images/footer-bg/footer-mob-apple-1x.png),
    url(../images/footer-bg/footer-mob-orange-1x.png),
    url(../images/footer-bg/footer-mob-downgroup-1x.png);
  background-size: 110px, 104px, 253px;
  background-repeat: no-repeat;
  background-position: top 132px left, top 7px right, bottom left 43px;

  @include retina {
    background-image: url(../images/footer-bg/footer-mob-apple-2x.png),
      url(../images/footer-bg/footer-mob-orange-2x.png),
      url(../images/footer-bg/footer-mob-downgroup-2x.png);
    background-size: 110px, 104px, 253px;
    background-repeat: no-repeat;
    background-position: top 132px left, top 7px right, bottom left 43px;
  }

  &__container {
    @extend %container;
    padding: 0 20px;
  }
}

.footer__block--first {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: flex-start;
  column-gap: calc((100% - 118px) / 2);
}

.footer__block--second {
  margin-top: 82px;
  bottom: 0;
}

.footer__link {
  width: 69px;
  display: inline-block;
}

.nav--footer {
  display: inline-block;
  width: 49px;
  margin-top: 4px;
}

.nav__list {
  @extend %list;
}

.nav__link--footer {
  @extend %link;
  display: inline-block;
  color: #000;
}

.nav__item--footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;

  &:first-child {
    border-radius: 0px;
  }

  &:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer__form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__input {
  width: 100%;
  border: 1px solid $secondaryBackgroundYellow;
  border-radius: 30px;
  padding: 12px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
  }

  &:valid {
    border-color: $darkGreenColor;
  }

  &:invalid {
    border-color: $invalidInput;
  }

  &:placeholder-shown {
    border-color: $secondaryBackgroundYellow;
  }
}

.footer__label {
  width: 100%;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: $primaryTextColor;
}

.footer__button {
  @extend %button;
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 30px;
  border: 0.85px solid $darkGreenColor;
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background-color: $primaryWhiteColor;

  &:hover,
  &:focus {
    background-color: $secondaryBackgroundYellow;
  }
}

.footer__text {
  font-size: 10px;
}

.footer__link--additional {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: $darkGreenColor;
}

.footer__list {
  @extend %list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.footer__text--copyright {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: $primaryTextColor;
  text-align: center;
}
