.footer {
  @extend %section;
  background-color: $secondaryWhiteColor;
  position: relative;
  padding: 60px 0;
  background-color: $secondaryWhiteColor;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @media (max-width: $tablet) {
  max-width: $mobile;
  background-image: url(../images/footer-bg/footer-mob-apple-1x.png),
    url(../images/footer-bg/footer-mob-orange-1x.png),
    url(../images/footer-bg/footer-mob-downgroup-1x.png);
  background-size: 110px, 104px, 253px;
  background-repeat: no-repeat;
  background-position: top 132px left, top 7px right, center bottom;
  @include retina {
    background-image: url(../images/footer-bg/footer-mob-apple-2x.png),
      url(../images/footer-bg/footer-mob-orange-2x.png),
      url(../images/footer-bg/footer-mob-downgroup-2x.png);
    background-size: 110px, 104px, 253px;
    background-repeat: no-repeat;
    background-position: top 132px left, top 7px right, center bottom;
  }
}

    @media (min-width: $tablet) {
      padding: 100px 0;
      max-width: $tablet;
      background-image: url('../images/footer-bg/orange-left-right-1x.png'),
        url('../images/footer-bg/orange-bottom-tab-1x.png'),
        url('../images/footer-bg/bottom1-tab-1x.png'),
        url('../images/footer-bg/apple-center-tab-1x.png'),
        url('../images/footer-bg/banana-tab-1x.png'),
        url('../images/footer-bg/space-tab-1x.png'),
        url('../images/footer-bg/apple-right-tab-1x.png');
      background-size: 203px, 184px, 168px, 153.25px, 221px, 171px, 170px;
      background-repeat: no-repeat;
      background-position: right top, left bottom, left 19.5% bottom, left 40% bottom, right 40% bottom, right 12% bottom, right bottom;
      @include retina {
        background-image: url('../images/footer-bg/orange-left-right-2x.png'),
          url('../images/footer-bg/orange-bottom-tab-2x.png'),
          url('../images/footer-bg/bottom1-tab-2x.png'),
          url('../images/footer-bg/apple-center-tab-2x.png'),
          url('../images/footer-bg/banana-tab-2x.png'),
          url('../images/footer-bg/space-tab-2x.png'),
          url('../images/footer-bg/apple-right-tab-2x.png');
        background-size: 203px, 184px, 168px, 153.25px, 221px, 171px, 170px;
        background-repeat: no-repeat;
        background-position: right top, left bottom, left 19.5% bottom, left 40% bottom, right 40% bottom, right 12% bottom, right bottom;
      }
    }
  
    @media (min-width: $desktop) {
      max-width: $desktop;
      background-image: url('../images/footer-bg/footer-desc-1x.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1211px;
      @include retina {
        background-image: url('../images/footer-bg/footer-desc-2x.png');
        background-repeat: no-repeat;
        background-size: 1211px;
        background-position: center;
      }
    }


  &__container {
    @extend %container;
  }
}

.footer__block--first {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: flex-start;
  column-gap: calc((100% - 118px) / 2);

  @media (min-width: $tablet) {
    column-gap: 114px;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    column-gap: 0;
  }
}

.footer__block--second {
  margin-top: 82px;

  @media (min-width: $tablet) {
    margin-top: 12px;
  }
}

.footer__link {
  width: 69px;
  display: inline-block;
}

.nav--footer {
  display: inline-block;
  width: 49px;
  margin-top: 4px;

  @media (min-width: $tablet) {
    margin-top: 18px;
    width: 319px;
  }

  @media (min-width: $desktop) {
    margin-left: 148px;
    margin-right: 320px;
  }
}

.nav__list {
  @extend %list;
}

.nav__link--footer {
  @extend %link;
  display: inline-block;
  color: #000;
}

.nav__item--footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;

  &:first-child {
    border-radius: 0px;
  }

  &:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      margin-right: 28px;
    }
  }
}

.footer__form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__input {
  width: 100%;
  border: 1px solid $secondaryBackgroundYellow;

  border-radius: 30px;
  padding: 12px;

  @media (min-width: $tablet) {
    width: 279px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
  }

  &:valid {
    border-color: $darkGreenColor;
  }

  &:invalid {
    border-color: $invalidInput;
  }

  &:placeholder-shown {
    border-color: $secondaryBackgroundYellow;
  }
}

.footer__label {
  width: 100%;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: $primaryTextColor;
}

.footer__button {
  @extend %button;
  position: absolute;
  right: 0;
  width: 103px;
  margin-top: 20px;
  border-radius: 30px;
  border: 0.85px solid $darkGreenColor;
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background-color: $primaryWhiteColor;

  @media (min-width: $tablet) {
    left: 292px;
    bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $secondaryBackgroundYellow;
  }
}

.footer__text {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;

  @media (min-width: $tablet) {
    font-size: 12px;
  }

  @media (min-width: $desktop) {
    display: inline-block;
    position: absolute;
    right: 150px;
  }
}

.footer__link--additional {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: $darkGreenColor;
}

.footer__list {
  @extend %list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;

  @media (min-width: $tablet) {
    display: inline-flex;
    margin-top: 100px;
    margin-right: 0;
    width: 264px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    margin-top: 80px;
  }
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__text--copyright {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: $primaryTextColor;
  text-align: center;

  @media (min-width: $tablet) {
    position: absolute;
    right: 30px;
    bottom: 100px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    right: 16px;
  }
}
