.hero{
    padding-top: 60px;
    padding-bottom: 110px;
    max-width: 1280px;
    
    margin: auto;

    background-color: $mainBackgroundColor;


    background-image: url(../images/backgrounds/hero/back1-mob320-1x.png);

    @media screen and (min-width:321px) {
        background-image:
            url(../images/backgrounds/hero/back1-mob-1x.png);
    }

    @media screen and (min-width:481px) {
        background-image:
            url(../images/backgrounds/hero/back1-tab-1x.png);
    }

    @media screen and (min-width:769px) {
        background-image:
            url(../images/backgrounds/hero/back1-desk-1x.png);
    }




    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero__container{
    @extend %container;
}

.hero__title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    // color: $primaryTextColor;
}

.hero__text{
    margin-bottom: 28px;
      
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    // color: $primaryTextColor;
}

.button{
    @extend %button;

    padding: 6px 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: $primaryTextColor;
    background-color: $accentColor;
    border-radius: 30px;
    border: none;
    
    &:active{
        background-color: $accentHoverColor;
    }
}

// *{
//     outline: 1px solid tomato;
// }