.hero{

    @extend %section;

    position: relative;

    padding-top: calc(60px + 72px);
    padding-bottom: 110px;
    max-width: 480px;
      
    background-color: $mainBackgroundColor;

    background-image: url(../images/backgrounds/hero/back1-mob320-1x.webp);

    @include retina{
        background-image: url(../images/backgrounds/hero/back1-mob320-2x.webp);
    }

    @media screen and (min-width:321px) {
        background-image:
            url(../images/backgrounds/hero/back1-mob480-1x.webp);

        @include retina{
            background-image: url(../images/backgrounds/hero/back1-mob480-2x.webp);
        }
    }


    @media screen and (min-width:$tablet) {  
        position: relative;
        max-width: 768px;
        background-image:
            url(../images/backgrounds/hero/back1-tab-1x.webp);

        @include retina{
            background-image: url(../images/backgrounds/hero/back1-tab-2x.webp);
        }
    }

    @media screen and (min-width:$desktop) {
        padding-top: 72px;
        padding-bottom: 38px;
        max-width: 1280px;
        background-image:
            url(../images/backgrounds/hero/back1-desk-1x.webp);

        @include retina {
            background-image: url(../images/backgrounds/hero/back1-desk-2x.webp);
        }
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero__container{
    @extend %container;

    @media screen and (min-width:$desktop) {
        display: flex;
        position: relative;
    }
}

.hero__bloс-text{
    @media screen and (min-width:$desktop) {
        margin-top: 159px;
    }
}

.hero__title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    // color: $primaryTextColor;

    @media screen and (min-width:$tablet) {
        margin-bottom: 44px;
        max-width: 540px;

        font-size: 42px;
        line-height: 1.2;
    }
    
    @media screen and (min-width:$desktop) {
        margin-bottom: 28px;
        max-width: 500px;

        font-size: 48px;
    }
}

.hero__text{
    margin-bottom: 28px;
      
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    // color: $primaryTextColor;

    @media screen and (min-width:$tablet) {
        margin-bottom: 40px;
        max-width: 340px;

        font-size: 16px;
    }
    
    @media screen and (min-width:$desktop) {
        max-width: 500px;
    }
}

.hero__bloс-img{
   
    @media screen and (min-width:$tablet) {

        position: absolute;
        right: 26px;
        bottom: 36px;
        margin-right: 9px;
        width: 320px;
        height: 320px;
        border: 14px solid $secondaryBackgroundYellow;
        border-radius: 50%;
    }

    @media screen and (min-width:$desktop) {
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 14px;
        margin-left: auto;
        margin-right: 14px;
        width: 580px;
        height: 580px;
        border: 26px solid $secondaryBackgroundYellow;
    }

        
}

#slides {
   
    @media screen and (min-width:$tablet) {
        position: relative;
        height: 292px;
        width: 292px;
        border-radius: 50%;
        margin-top: 0;
        list-style-type: none;
        text-align: center;
    }

    @media screen and (min-width:$desktop) {
        position: relative;
        height: 528px;
        width: 528px;
        border-radius: 50%;
        margin-top: 0;
        list-style-type: none;
        text-align: center;
    }

    
}

.slide{

    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    
}

.showing{
    opacity: 1;
    z-index: 2;
}



.hero__btn-icon{
   

    @extend %button;


    
    @media screen and (max-width:767px) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: 1px;
    }

    
        
    @media screen and (min-width:$tablet){
        padding-top: 4px;
            padding-bottom: 4px;
        
            border-radius: 4px;
            border: none;
            background-color: $primaryWhiteColor;
            box-shadow: 4px 0 4px rgba(0, 0, 0, 0.06);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 6px;
        padding-bottom: 6px;
    }
       
    &--left{
        @media screen and (max-width:767px){
            left: 20vw;
        }
        left: -22px;
        padding-right: 13px;
        padding-left: 9px;

        @media screen and (min-width:$desktop){
            margin-left: -18px;
            padding-right: 18px;
            padding-left: 14px;
        }
    }

    &--right{
        @media screen and (max-width:767px) {
                right: 20vw;
            }
        right: -22px;
        padding-right: 9px;
        padding-left: 13px;

        @media screen and (min-width:$desktop) {
            margin-right: -18px;
            padding-right: 14px;
            padding-left: 18px;
        }
    }

    &:hover,
    &:focus{
        color: $darkGreenColor;
    }

    &:active{
        color: $primaryTextColor;
        box-shadow: 4px 0 4px rgba(0, 0, 0, 0.16);
    }
}




.hero__icon{
    fill: currentColor;
    display: block;
    width: 12px;
    height: 20px;

   @media screen and (min-width:$desktop) {
        width: 16px;
        height: 28px;
    }
}


    
.hiden{
    left: 20vw;
    @extend %visually-hidden;
}
    


// *{
//     outline: 1px solid tomato;
// }