.hero{
    padding-top: 60px;
    padding-bottom: 110px;
    max-width: 480px;
    
    margin: auto;

    background-color: $mainBackgroundColor;


    background-image: url(../images/backgrounds/hero/back1-mob320-1x.webp);

    @include retina{
        background-image: url(../images/backgrounds/hero/back1-mob320-2x.webp);
    }

    @media screen and (min-width:321px) {
        background-image:
            url(../images/backgrounds/hero/back1-mob480-1x.webp);

        @include retina{
            background-image: url(../images/backgrounds/hero/back1-mob480-2x.webp);
        }
    }


    @media screen and (min-width:$tablet) {
        max-width: 768px;
        background-image:
            url(../images/backgrounds/hero/back1-tab-1x.webp);

        @include retina{
            background-image: url(../images/backgrounds/hero/back1-tab-2x.webp);
        }
    }

    @media screen and (min-width:$desktop) {
        max-width: 1280px;
        background-image:
            url(../images/backgrounds/hero/back1-desk-1x.webp);

        @include retina {
                background-image: url(../images/backgrounds/hero/back1-desk-2x.webp);
        }
    }




    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero__container{
    @extend %container;
}

.hero__title {
    margin-bottom: 28px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    // color: $primaryTextColor;
}

.hero__text{
    margin-bottom: 28px;
      
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    // color: $primaryTextColor;
}

// *{
//     outline: 1px solid tomato;
// }