.offerings {
  @extend %section;
  background-color: $secondaryBackgroundYellow;
  max-width: 480px;
  padding-bottom: 60px;

  @include tablet {
    max-width: 768px;
    padding-bottom: 100px;
  }

  @include desktop {
    position: relative;
    max-width: 1280px;
    padding: 100px 0;
  }

  &__container {
    @extend %container;
    display: block;
    @include desktop {
      display: flex;
    }
  }

  &__picture--mob {
    width: 100%;
  }
}

.offerings__picture-wrapper {
  display: none;

  &--mob {
    display: block;
    margin-bottom: 60px;
    @include tablet {
      display: none;
    }
  }

  &--tab {
    @include tablet {
      display: block;
      margin-bottom: 60px;
      @include desktop {
        display: none;
      }
    }
  }

  &--desk {
    position: absolute;
    top: 0;
    left: 16px;
    @include desktop {
      display: block;
    }
  }
}

.offerings-data {
  @include desktop {
    margin-left: 656px;
  }

  &__title {
    margin-bottom: 28px;
    @include tablet {
      width: 526px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 28px;
    @include tablet {
      width: 500px;
      margin-bottom: 40px;
    }
  }
}

.offerings-list {
  @extend %list;

  @include tablet {
    display: flex;
    width: 620px;
    gap: 116px;
    @include desktop {
      width: 573px;
      gap: 67px;
    }
  }

  &__item:first-child {
    margin-bottom: 28px;
    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__item:last-child {
    margin-bottom: 28px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: $primaryWhiteColor;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__title {
    font-style: 18px;
    font-weight: 700;
    line-height: 1.16;

    margin-bottom: 16px;
  }

  &__text {
    font-style: 14px;
    font-weight: 400;
    line-height: 1.17;
  }
}

.offerings-buttons {
  @extend %list;
  display: flex;

  &__item {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 24px;
    }

    &:last-child::after {
      display: flex;
      content: '';
      width: 14px;
      height: 14px;
      background-color: transparent;
      background-image: url(../images/svg/arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      align-items: center;
      margin-left: 4px;
    }

    &--arrow {
      @extend %link;
      font-style: 14px;
      font-weight: 400;
      line-height: 1.4;
      color: $primaryTextColor;
      text-decoration: none;
    }
  }
}

.offerings-button {
  width: 106px;
  height: 40px;
}
