.subscribe {
  @extend %section;
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding-top: 160px;
  }

  &__thumb {
    width: 140px;

    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 320px) {
      width: 180px;
      top: -120px;
    }

    @media screen and (min-width: 768px) {
      top: -170px;
      left: 450px;
      width: 280px;
      transform: translateX(0);
    }

    @media screen and (min-width: 1280px) {
      width: 500px;
      top: -100px;
      left: 740px;
      width: 500px;
      transform: translateX(0);
    }
  }

  &__img {
    // position: absolute;
    // top: -60%;
    // left: 50%;
    // transform: translateX(-50%);
    // margin-left: auto;
    // margin-right: auto;

    @extend %img;

    // @media screen and (min-width: 320px) {
    //   width: 280px;
    // }

    // @media screen and (min-width: 450px) {
    //   top: -65%;
    // }

    // @media screen and (min-width: 768px) {
    //   top: -70%;
    //   width: 281px;
    //   left: 53%;
    // }

    // @media screen and (min-width: 1280px) {
    //   width: 608px;
    // }
  }

  &__container {
    position: relative;
    @extend %container;

    // @media screen and (min-width: 480px) {
    // width: 480px;
    // }
    //
    // @media screen and (min-width: 768px) {
    // width: 768px;
    // }
    //
    // @media screen and (min-width: 1280px) {
    // width: 1280px;
    // }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: $primaryTextColor;

    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
  }

  &__text {
    margin: 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $primaryTextColor;

    @media screen and (min-width: 768px) {
      width: 656px;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__input {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 42px;
    padding: 12px 11px;

    background: $primaryWhiteColor;

    border: 1px solid $secondaryBackgroundYellow;
    border-radius: 30px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    /* Neutral/Dark gray */
    color: #505050;

    @media screen and (min-width: 768px) {
      margin-right: 22px;
      width: 394px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 32px;
    }
  }
}

.subscribe-button {
  cursor: pointer;
  width: 103px;
  height: 42px;
  margin-left: auto;
  border-style: none;
  background: $accentColor;
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    display: flex;
  }

  &:hover,
  &:focus {
    background-color: $accentHoverColor;
  }
}

.subscribe-button__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: $primaryTextColor;
}
