.subscribe {
  
  @extend %section; 
  padding: 60px 0;


  &__img {
  position: absolute;
  top: -100px;
  @extend %img;
 
  }

  &__container {
  @extend %container;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  
  }

  &__title {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: $primaryTextColor;
  }

  &__text {
  margin: 20px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $primaryTextColor;
  }

}

.subscribe-form {
  display: flex;
  flex-direction: column;


  &__input {
  position: relative;
  margin-bottom: 20px;
  width: 279px;
  height: 42px;
  padding: 12px 11px;

  /* White */
  background: $primaryWhiteColor;
  /* Yellow main */

  border: 1px solid $secondaryBackgroundYellow;
  border-radius: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  /* Neutral/Dark gray */
  color: #505050;
}
}

.subscribe-button {
  cursor: pointer;
  width: 103px;
  height: 42px;
  margin-left: auto;
  border-style: none;
  background: #bbf330;
  border-radius: 30px;
}

.subscribe-button__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: $primaryTextColor;
}

