$primaryWhiteColor: #ffffff;
$secondaryWhiteColor: #fefefe;
$primaryTextColor: #2c2c2c;
$accentColor: #bbf330;
$accentHoverColor: #b5ff00;
$darkGreenColor: #7eb101;
$darkGreenHoverColor: #597d00;
$mainBackgroundColor: #fefefe;
$secondaryBackgroundYellow: #ffe550;
$invalidInput: #ff705d;
