$primaryWhiteColor: #ffffff;
$primaryTextColor: #2c2c2c;
$accentColor: #BBF330;
$accentHoverColor: #B5FF00;
$darkGreenColor: #7EB101;
$darkGreenHoverColor: #597D00;
$mainBackgroundColor: #fefefe;
$secondaryBackgroundYellow: #FFE550;