<section class="customers">
  <div class="customers__container">
    <h2 class="customers__title section-title">What our Customers Say</h2>
    <p class="customers__text section-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="reviews-list">
      <li class="reviews-list__item">
        <div class="stars">
          <ul class="stars__list">
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-list__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="infoclient">
          <img
            srcset="
              ./images/customers/menclientmobil.png   1x,
              ./images/customers/menclientmobil2x.png 2x
            "
            src="./images/customers/menclientmobil.png"
            alt="foto men-client"
          />
          <div class="personaldate">
            <h3 class="personaldate__title">Sumith Shah</h3>
            <p class="personaldate__text">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="reviews-list__item">
        <div class="stars">
          <ul class="stars__list">
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg width="17" height="16">
                <use href="./images/svg/symbol-defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-list__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="infoclient">
          <img
            srcset="
              ./images/customers/girlclientmobil.png   1x,
              ./images/customers/girlclientmobil2x.png 2x
            "
            src="./images/customers/girlclientmobil.png"
            alt="foto women-client"
          />
          <div class="personaldate">
            <h3 class="personaldate__title">Sumith Shah</h3>
            <p class="personaldate__text">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
