<section class="favorites" id="favorites">
	<div class="favorites__container">
		<h2 class="favorites__title">Some of Our Favorites</h2>

		<p class="favorites__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>

		<ul class="favorites__list">
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/gamburger-desktop.png 1x, ./images/favorites/gamburger-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<source
							srcset="./images/favorites/gamburger-tablet.png 1x, ./images/favorites/gamburger-tablet@2x.png 2x"
							media="(min-width: 768px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/gamburger-mobile.png 1x, ./images/favorites/gamburger-mobile@2x.png 2x"
							src="./images/favorites/gamburger-mobile.png" alt="gamburger">
					</picture>
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/pasta-desktop.png 1x, ./images/favorites/pasta-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<source
							srcset="./images/favorites/pasta-tablet.png 1x, ./images/favorites/pasta-tablet@2x.png 2x"
							media="(min-width: 768px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/pasta-mobile.png 1x, ./images/favorites/pasta-mobile@2x.png 2x"
							src="./images/favorites/pasta-mobile.png" alt="pasta">
					</picture>
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/pizza-desktop.png 1x, ./images/favorites/pizza-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<source
							srcset="./images/favorites/pizza-tablet.png 1x, ./images/favorites/pizza-tablet@2x.png 2x"
							media="(min-width: 768px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/pizza-mobile.png 1x, ./images/favorites/pizza-mobile@2x.png 2x"
							src="./images/favorites/pizza-mobile.png" alt="pizza">
					</picture>
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/chicken-desktop.png 1x, ./images/favorites/chicken-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/chicken-tablet.png 1x, ./images/favorites/chicken-tablet@2x.png 2x"
							src="./images/favorites/chicken-tablet.png" alt="chicken">
					</picture>
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/salat-desktop.png 1x, ./images/favorites/salat-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/salat-tablet.png 1x, ./images/favorites/salat-tablet@2x.png 2x"
							src="./images/favorites/salat-tablet.png" alt="salat">
					</picture>
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<picture>
						<source
							srcset="./images/favorites/borshch-desktop.png 1x, ./images/favorites/borshch-desktop@2x.png 2x"
							media="(min-width: 1280px)" type="image/png">

						<img class="favorites__img"
							srcset="./images/favorites/borshch-tablet.png 1x, ./images/favorites/borshch-tablet@2x.png 2x"
							src="./images/favorites/borshch-tablet.png" alt="borshch">
					</picture>
				</a>
			</li>

		</ul>
	</div>
</section>