<section class="favorites">
	<div class="favorites__container">
		<h2 class="favorites__title">Some of Our Favorites</h2>

		<p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<ul class="favorites__list">
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img"
						srcset="./images/favorites/gamburger-mobile.png 1x, ./images/favorites/gamburger-mobile@2x.png 2x"
						src="./images/favorites/gamburger-mobile.png" alt="gamburger">
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img"
						srcset="./images/favorites/pasta-mobile.png 1x, ./images/favorites/pasta-mobile@2x.png 2x"
						src="./images/favorites/pasta-mobile.png" alt="pasta">
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img"
						srcset="./images/favorites/pizza-mobile.png 1x, ./images/favorites/pizza-mobile@2x.png 2x"
						src="./images/favorites/pizza-mobile.png" alt="pizza">
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img" src="#" alt="chicken">
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img" src="#" alt="salat">
				</a>
			</li>
			<li class="favorites__item">
				<a class="favorites__link" href="#">
					<img class="favorites__img" src="#" alt="borshch">
				</a>
			</li>

		</ul>
	</div>
</section>