<footer class="footer">
  <div class="footer__container">
    <div class="footer__block--first">
      <a class="footer__link" href="#">
        <svg class="logo footer__logo" width="66" height="52">
          <use href="#"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Service</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Menu</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <form class="footer__form">
        <label class="footer__label">Subscribe
          <input class="footer__input" type="email" name="email" placeholder="Enter your email" />
        </label>
        <button type="submit" class="footer__button">Subscribe</button>
      </form>
    </div>
    <div class="footer__block--second">
      <p class="footer__text">By subscribing you agree to with our <a href="#" class="footer__link--additional">Privacy
          Policy</a></p>
      <a href="#" class="footer__link--additional">Privacy Policy</a>
      <a href="#" class="footer__link--additional">Terms of Service</a>
      <a href="#" class="footer__link--additional">Cookies settings</a>
      <p class="footer__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
