<header class="header">
  <div class="header__container">
    <div class="wrap">
      <a class="header__link" href="#">
        <svg class="logo header__logo" width="66" height="52">
          <use href="./images/symbol-defs.svg#logo-foodsta"></use>
        </svg>
      </a>
      <button
        type="button"
        class="menu-toggle menu-toggle--active js-open-menu"
        aria-expanded="false"
        aria-label="Перемикач мобільного меню"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-toggle__icon menu-toggle__icon--burger"
          width="28px"
          height="28px"
        >
          <use href="./images/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button
          type="button"
          class="menu-toggle js-close-menu"
          aria-label="Перемикач мобільного меню"
        >
          <svg
            class="menu-toggle__icon menu-toggle__icon--close"
            width="24px"
            height="24px"
          >
            <use href="./images/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#hero">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#offerings">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#favorites">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#customers">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#subscribe">Contact</a>
            </li>
          </ul>
        </nav>
        <button
          type="button"
          class="order-button order-button--green header-button"
        >
          Order Now
        </button>
      </div>
    </div>
  </div>
</header>
