<header class="header">
  <div class="header__container">
    <div class="wrap">
      <a class="header__link" href="#">
        <svg class="logo header__logo" width="69" height="51">
          <use href="./images/symbol-defs.svg#logo-foodsta"></use>
        </svg>
      </a>
      <button
        type="button"
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-label="Перемикач мобільного меню"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-toggle__icon menu-toggle__icon--burger"
          width="23px"
          height="16px"
        >
          <use href="./images/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button
          type="button"
          class="menu-toggle js-close-menu"
          aria-label="Перемикач мобільного меню"
        >
          <svg
            class="menu-toggle__icon menu-toggle__icon--close"
            width="10px"
            height="10px"
          >
            <use href="./images/symbol-defs.svg#icon-cross"></use>
          </svg>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="button appears">Order Now</button>
      </div>
    </div>
  </div>
</header>
