<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__bloс-text">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>

      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button
        type="button"
        class="order-button order-button--green hero-button"
        data-modal-nepo
      >
        Order Now
      </button>
    </div>

    <div class="hero__bloс-img">
      <div id="slides">
        <picture class="slide showing">
          <source srcset="./images/hero/dish_1.webp 1x, ./images/hero/dish_1_2x.webp 2x" type="image/webp"
            media="(min-width:1280px)" />
          <source srcset="./images/hero/dish_1.png 1x, ./images/hero/dish_1_2x.png 2x" type="image/png" media="(min-width:1280px)" />
          
          <source srcset="./images/hero/dish_1_tablet.webp 1x, ./images/hero/dish_1_tablet_2x.webp 2x" type="image/webp"
            media="(max-width:1279px)" />
          <source srcset="./images/hero/dish_1_tablet.png 1x, ./images/hero/dish_1_tablet_2x.png 2x" type="image/png" media="(max-width:1279px)"/>
          
          <img class="hero__img" src="./images/hero/dish_1.png" alt="комплексний обід 1"/>
        </picture>

        <picture class="slide">
          <source srcset="./images/hero/dish_2.webp 1x, ./images/hero/dish_2_2x.webp 2x" type="image/webp" media="(min-width:1280px)"/>
          <source srcset="./images/hero/dish_2.png 1x, ./images/hero/dish_2_2x.png 2x"  type="image/png" media="(min-width:1280px)"/>

          <source srcset="./images/hero/dish_2_tablet.webp 1x, ./images/hero/dish_2_tablet_2x.webp 2x" type="image/webp"
            media="(max-width:1279px)" />
          <source srcset="./images/hero/dish_2_tablet.png 1x, ./images/hero/dish_2_tablet_2x.png 2x" type="image/png" media="(max-width:1279px)" />

          <img class="hero__img" src="./images/hero/dish_2.png" alt="комплексний обід 2" />
        </picture>

        <picture class="slide">
          <source srcset="./images/hero/dish_3.webp 1x, ./images/hero/dish_3_2x.webp 2x" type="image/webp"
            media="(min-width:1280px)" />
          <source srcset="./images/hero/dish_3.png 1x, ./images/hero/dish_3_2x.png 2x" type="image/png" media="(min-width:1280px)"/>
          
          <source srcset="./images/hero/dish_3_tablet.webp 1x, ./images/hero/dish_3_tablet_2x.webp 2x" type="image/webp"
            media="(max-width:1279px)" />
          <source srcset="./images/hero/dish_3_tablet.png 1x, ./images/hero/dish_3_tablet_2x.png 2x" type="image/png" media="(max-width:1279px)"/>

          <img class="hero__img" src="./images/hero/dish_3.png" alt="комплексний обід 3" />
        </picture>
      </div>

      <button type="button" class="controls hero__btn-icon hero__btn-icon--left" 
      id="previous">
        <svg width="16" height="29" class="hero__icon">
          <use href="./images/svg/symbol-defs.svg#icon-vector-left"></use>
        </svg>
      </button>

      <button type="button" class="controls hero__btn-icon hero__btn-icon--right" 
      id="next" >
        <svg width="16" height="29" class="hero__icon">
          <use href="./images/svg/symbol-defs.svg#icon-vector-right"></use>
        </svg>
      </button>

      <button class="controls hiden" id="pause">&#10074;&#10074;</button>
    </div>
  </div>
</section>
