<section class="offerings" id="offerings">
  <div class="offerings__container">
    <div class="offerings__picture-wrapper offerings__picture-wrapper--mob">
      <picture>
        <source
          srcset="
            ./images/fruits/apple-mob-320.webp   320w,
            ./images/fruits/apple-mob-640.webp   640w,
            ./images/fruits/apple-mob-960.webp   960w,
            ./images/fruits/apple-mob-1280.webp 1280w,
            ./images/fruits/apple-mob-1600.webp 1600w
          "
          type="image/webp"
          media="(max-width:767px)"
          sizes="(max-width: 480px) 100vw, 100vw"
        />
        <img
          class="offerings__picture--mob"
          src="./images/fruits/apple-mob-320.png"
          alt="Apples"
        />
      </picture>
    </div>

    <div class="offerings__picture-wrapper offerings__picture-wrapper--tab">
      <picture>
        <source
          srcset="
            ./images/fruits/apples-tab-1x.webp 1x,
            ./images/fruits/apples-tab-2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 768px)"
        />
        <img src="./images/fruits/apples-tab-1x.png" alt="Apples" width="704" />
      </picture>
    </div>

    <div class="offerings__picture-wrapper offerings__picture-wrapper--desk">
      <picture>
        <source
          srcset="
            ./images/fruits/apple-desk-1x.webp 1x,
            ./images/fruits/apple-desk-2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <img src="./images/fruits/apple-desk-1x.png" alt="Apple" width="550" />
      </picture>
    </div>

    <div class="offerings-data">
      <h2 class="offerings-data__title section-title">
        What’s Special About Our Offerings
      </h2>

      <p class="offerings-data__subtitle section-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <ul class="offerings-list">
        <li class="offerings-list__item">
          <div class="offerings-list__icon">
            <svg width="32" height="32">
              <use href="./images/svg/symbol-defs.svg#icon-rocket"></use>
            </svg>
          </div>

          <h3 class="offerings-list__title">Fastest Delivery</h3>
          <p class="offerings-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-list__item">
          <div class="offerings-list__icon">
            <svg width="32" height="32">
              <use href="./images/svg/symbol-defs.svg#icon-order"></use>
            </svg>
          </div>

          <h3 class="offerings-list__title">Easy to order</h3>
          <p class="offerings-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <ul class="offerings-buttons">
        <li class="offerings-buttons__item">
          <button
            type="button"
            class="offerings-button order-button order-button--white"
            data-modal-peon
          >
            Order Now
          </button>
        </li>
        <li class="offerings-buttons__item">
          <a class="offerings-buttons__item--arrow" href="#">Read more</a>
        </li>
      </ul>
    </div>
  </div>
</section>
