<section class="subscribe">
  <div class="subscribe__container">
    <h2 class="subscribe__title">
      Subscribe To Get Special Offers
    </h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>

       <form class="subscribe-form">            
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            class="subscribe-form__input"
          />
          <button type="submit" class="subscribe-button">
            <span class="subscribe-button__text">Subscribe</span>
          </button>
        </form>
      <img class="subscribe__img"
      srcset="
      ./images/fruits/banana-mobile.png 1x,
      ./images/fruits/banana-mobil@2x.png 2x, 
      ./images/fruits/banana-tablet.png 1x, 
      ./images/fruits/banana-tablet@2x.png 2x,
      ./images/fruits/banana-desctop.png 1x,
      ./images/fruits/banana-desctop@2x.png 2x"
      src="./images/fruits/banana-mobile.png" alt="banana"/>
        
    </div>
  </section>
</section>
